body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content-container {
  margin-top: 64px; /* height of the AppBar */
  height: calc(100% - 64px);
  overflow: auto;
}

.table-container {
  height: 100%;
  overflow-y: auto;
}

.table-header-cell {
  font-weight: bold !important;
  font-size: 1.2em !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.87) !important;
}
